Repository YellowOSM/YellowOSM: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_frontend, build_frontend_prod, deploy_backend, deploy_frontend, deploy_static_page

Path conditions:
  build_frontend: any of: frontend/**/*
  build_frontend_prod: any of: frontend/**/*
  deploy_backend: any of: backend/**/*
  deploy_frontend: any of: frontend/**/*
  deploy_static_page: any of: static/**/*

set default location to Heidelberg SOTM 2019
  frontend/src/app/app-routing.module.ts
Due: build_frontend, build_frontend_prod, deploy_frontend

backend: set default location to Heidelberg SOTM 2019
  backend/api.py
Due: deploy_backend

Heidelberg location fix
  backend/api.py
Due: deploy_backend

gitlab-ci fix
  .gitlab-ci.yml
Due: none

gitlab-ci
  .gitlab-ci.yml
Due: none

format black for geo58
  backend/lib/geo58.py
Due: deploy_backend

add tests for geo58 ✅
  backend/__init__.py
  backend/lib/geo58.py
  backend/tests/__init__.py
  backend/tests/test_geo58.py
Due: deploy_backend

Pipfile Pipfile.lock
  backend/.flake8
  backend/.gitignore
  backend/Pipfile
  backend/Pipfile.lock
  backend/lib/__init__.py
  backend/lib/geo58.py
Due: deploy_backend

set default geolocation back to Graz
  backend/api.py
  frontend/src/app/app-routing.module.ts
Due: build_frontend, build_frontend_prod, deploy_backend, deploy_frontend

.gitlab-ci tests, gitignore, Pipfile, tox,
  .gitlab-ci.yml
  backend/.gitignore
  backend/Pipfile
  backend/Pipfile.lock
  backend/tox.ini
Due: deploy_backend

add pipenv install to gitlab-ci test
  .gitlab-ci.yml
Due: none

format black, fix lint, linelength, vcard label fix
  backend/api.py
Due: deploy_backend

set Graphene to stable version 2.1.8
  backend/Pipfile
  backend/Pipfile.lock
Due: deploy_backend

gitlab rsync deploy without --progress flag
  .gitlab-ci.yml
Due: none

remove label from vcard
  backend/api.py
Due: deploy_backend

backend: add search to API
  backend/api.py
  backend/lib/es_queries.py
  backend/lib/geo58.py
Due: deploy_backend

fix generic search
  backend/api.py
  backend/lib/es_queries.py
Due: deploy_backend

add city bounding box 'index'
  backend/api.py
  backend/cityname_to_geocoordinates/Get City by geo-coordinates.ipynb
  backend/data/cities_bb.json
  backend/lib/es_queries.py
Due: deploy_backend

find cities as .lower() string
  backend/api.py
  backend/cityname_to_geocoordinates/Get City by geo-coordinates.ipynb
  backend/data/cities_bb.json
Due: deploy_backend

div fixes, welcome text for api, added cuisine to search
  backend/api.py
  backend/cityname_to_geocoordinates/Get City by geo-coordinates.ipynb
  backend/lib/es_queries.py
Due: deploy_backend

add limit to city query
  backend/api.py
  backend/lib/es_queries.py
Due: deploy_backend

backend: vcard: omit ADR if address_incomplete is True, fix SOURCE tag in vcard
  backend/.env_dev_sample
  backend/.env_sample
  backend/api.py
Due: deploy_backend

add osmid API path
  backend/api.py
Due: deploy_backend

backend: vcard cleanup, changed API path
  backend/api.py
Due: deploy_backend

add docstrings
  backend/api.py
Due: deploy_backend

API documentation, legacy functions documented
  backend/api.py
Due: deploy_backend

backend: api, pipenv
  backend/Pipfile
  backend/Pipfile.lock
  backend/api.py
Due: deploy_backend

responder upgrade to 2.0.3
  backend/Pipfile
  backend/Pipfile.lock
  backend/api.py
Due: deploy_backend

add --dev flag for test
  .gitlab-ci.yml
Due: none

add swagger for api docs
  static/js/swagger-ui-bundle.js
  static/js/swagger-ui-standalone-preset.js
Due: deploy_static_page

move swagger
  static/static/js/swagger-ui-bundle.js
  static/static/js/swagger-ui-standalone-preset.js
Due: deploy_static_page

swagger ui
  static/api-docs/index.html
  static/api-docs/schema.yml
  static/api-docs/static/css/swagger-ui.css
  static/api-docs/static/js/swagger-ui-bundle.js
  static/api-docs/static/js/swagger-ui-standalone-preset.js
Due: deploy_static_page

add swagger ui workaround
  backend/export_swagger_ui.sh
Due: deploy_backend

swagger css
  backend/export_swagger_ui.sh
  static/schema.yml
Due: deploy_backend, deploy_static_page

swagger paths
  backend/export_swagger_ui.sh
  static/static/css/swagger-ui.css
  static/static/js/swagger-ui-bundle.js
  static/static/js/swagger-ui-standalone-preset.js
Due: deploy_backend, deploy_static_page

refactor get city by geo-coords to py script
  backend/cityname_to_geocoordinates/Get City by geo-coordinates.ipynb
  backend/scripts/get_city_by_geo-coordinates.py
Due: deploy_backend

add pandas to dev deps
  backend/Pipfile
  backend/Pipfile.lock
  backend/scripts/get_city_by_geo-coordinates.py
Due: deploy_backend

rm base58 with checksum script
  backend/scripts/base58_with_checksum.py
Due: deploy_backend

backend: REAMDE
  backend/README.md
Due: deploy_backend
