Repository YellowOSM/YellowOSM: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_frontend, build_frontend_prod, deploy_backend, deploy_frontend, deploy_static_page

Path conditions:
  build_frontend: any of: frontend/**/*
  build_frontend_prod: any of: frontend/**/*
  deploy_backend: any of: backend/**/*
  deploy_frontend: any of: frontend/**/*
  deploy_static_page: any of: static/**/*

backend: README
  backend/README.md
Due: deploy_backend

backend: code reformatting
  backend/scripts/csv_labels.py
  backend/scripts/export_osm_to_crawler.py
  backend/scripts/export_osm_to_elasticsearch.py
  backend/scripts/yosm_poi.py
Due: deploy_backend

add blog post links for oct,sep,aug
  static/img/blog_10.jpg
  static/img/blog_11.jpg
  static/img/blog_12.jpg
  static/index.html
Due: deploy_static_page

backend: added parameters and examples to swagger API docs
  backend/api.py
  static/schema.yml
Due: deploy_backend, deploy_static_page

backend: fix source path for vcard
  backend/api.py
Due: deploy_backend

move swagger export script
  backend/scripts/swagger_export.sh
Due: deploy_backend

backend: add version hash to api index prompt
  .gitlab-ci.yml
  backend/.git_commit_hash.txt
  backend/api.py
Due: deploy_backend

fix path swagger_export
  backend/scripts/swagger_export.sh
Due: deploy_backend

backend: doc strings for legacy functions adapted
  backend/README.md
  backend/api.py
Due: deploy_backend

add swagger description 📚
  backend/api.py
  static/schema.yml
Due: deploy_backend, deploy_static_page

more README for backend 📚
  backend/README.md
Due: deploy_backend

backend docs: limit is integer
  backend/README.md
  backend/api.py
  static/schema.yml
Due: deploy_backend, deploy_static_page

backend docs 📚
  backend/api.py
  static/schema.yml
Due: deploy_backend, deploy_static_page

README fix link
  backend/README.md
Due: deploy_backend

fix link in swagger docs
  backend/api.py
  static/schema.yml
Due: deploy_backend, deploy_static_page

line length
  backend/api.py
Due: deploy_backend

fix export script error 🧯
  backend/scripts/export_osm_to_elasticsearch.py
Due: deploy_backend

backend: add vegan, vegetarian to description
  backend/lib/es_queries.py
  backend/scripts/csv_labels.py
  backend/scripts/yosm_poi.py
Due: deploy_backend

add shoes label 👟
  backend/scripts/csv_labels.py
Due: deploy_backend

removed wikimedia tiles, added hike/bike map as second tile option
  frontend/src/environments/environment.prod.ts
  frontend/src/environments/environment.ts
Due: build_frontend, build_frontend_prod, deploy_frontend

package-lock
  frontend/package-lock.json
Due: build_frontend, build_frontend_prod, deploy_frontend

tile server for test env changed
  frontend/src/environments/environment.test.ts
Due: build_frontend, build_frontend_prod, deploy_frontend

hide layers button if only one layer is set
  frontend/src/app/yellowmap/yellowmap.component.html
  frontend/src/app/yellowmap/yellowmap.component.ts
  frontend/src/environments/environment.prod.ts
  frontend/src/environments/environment.test.ts
  frontend/src/environments/environment.ts
Due: build_frontend, build_frontend_prod, deploy_frontend

removed sphinx docs
  backend/docs/.gitignore
  backend/docs/Makefile
  backend/docs/make.bat
  backend/docs/source/backend.lib.rst
  backend/docs/source/backend.rst
  backend/docs/source/backend.tests.rst
  backend/docs/source/conf.py
  backend/docs/source/index.rst
  backend/docs/source/modules.rst
Due: deploy_backend

sphinx docs
  backend/docs/.gitignore
  backend/docs/Makefile
  backend/docs/make.bat
  backend/docs/source/backend.lib.rst
  backend/docs/source/backend.rst
  backend/docs/source/backend.tests.rst
  backend/docs/source/conf.py
  backend/docs/source/index.rst
  backend/docs/source/modules.rst
Due: deploy_backend

latest angular core 8 and cli 8
  frontend/package-lock.json
  frontend/package.json
Due: build_frontend, build_frontend_prod, deploy_frontend

upgrade to angular 9
  frontend/angular.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app.module.ts
  frontend/src/ngsw-config.json
  frontend/src/tsconfig.app.json
Due: build_frontend, build_frontend_prod, deploy_frontend

upgrade to angular material 9
  frontend/package-lock.json
  frontend/package.json
Due: build_frontend, build_frontend_prod, deploy_frontend

import ProgressSpinner from secondary entry point
  frontend/src/app/material.module.ts
Due: build_frontend, build_frontend_prod, deploy_frontend

added stars to Hotel details and list view
  frontend/src/app/location-detail/location-detail.component.html
  frontend/src/app/location-detail/location-detail.component.scss
  frontend/src/app/location-detail/location-detail.component.ts
  frontend/src/app/location-list/location-list.component.html
  frontend/src/scss/_location-list.scss
  frontend/src/styles.scss
Due: build_frontend, build_frontend_prod, deploy_frontend

crop POI name in list when if too long
  frontend/src/app/location-list/location-list.component.html
Due: build_frontend, build_frontend_prod, deploy_frontend

fix hammerjs module import
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app.module.ts
Due: build_frontend, build_frontend_prod, deploy_frontend

add metal_construction as Schlosserei to index
  backend/scripts/csv_labels.py
Due: deploy_backend

added landuse key to index
  backend/scripts/csv_labels.py
  backend/scripts/export_osm_to_elasticsearch.py
  backend/scripts/osm2pgsql/yosm.style
  backend/scripts/yosm_poi.py
Due: deploy_backend

Revert "added landuse key to index"
  backend/scripts/csv_labels.py
  backend/scripts/export_osm_to_elasticsearch.py
  backend/scripts/osm2pgsql/yosm.style
  backend/scripts/yosm_poi.py
Due: deploy_backend

add deploy for yosmv1
  .gitlab-ci.yml
Due: none

gitlab-ci
  .gitlab-ci.yml
Due: none

gitlab-ci cron_import_pbf comments
  .gitlab-ci.yml
  backend/scripts/osm2pgsql/cron_import_pbf.sh
Due: deploy_backend

gitlab-ci
  .gitlab-ci.yml
  backend/scripts/osm2pgsql/cron_import_pbf.sh
Due: deploy_backend
